<%- include("partials/header") -%>

  <div class="post">
    <p><span class="bg-gabriel text-light pr-1 pl-1"><%= post.date %></span></p>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
  </div>

<%- include("partials/footer") -%>
